<!DOCTYPE html>
<html>
<head>
  <title>AuthHW</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>

<footer>
  This is not the 99 Cats homework from last night but I'm not sure
  what you're looking for.

  <%= yield :footer %>
</footer>
</html>
